@import "../../../styles/variables.scss";

.input-wrapper {
    color: $text-color;
    font-size: 16px;
    margin-bottom: 1.2em;
    display: flex;
    flex-direction: column;

    label {
        font-weight: 600;
        font-size: .9em;
        margin-bottom: 10px;
    }

    .input-content {
        width: 100%;
        border-radius: 8px;
        display: flex;
        position: relative;

        .icon {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $green-color;
            padding: 8px;
            border-radius: 4px;

            img {
                height: 20px;
                width: 20px;
            }
        }

        input {
            border: none;
            border-radius: 8px;
            background-color: $gray-secondary-bg;
            padding: 12px 20px;
            width: 100%;
            font-size: 14px;
            color: $text-color;

            &:focus {
                outline: 2px solid $primary-color;
            }

            &:disabled {
                opacity: 0.6;
                cursor: not-allowed;
            }
        }
    }
}